@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

:root{
    --fondo: #070722;
    --bordes:#39394e;
    --mercury: #419DB9;
    --venus: #eda44a;
    --earth: #6f2ed6;
    --mars:#d14e33;
    --jupiter:#d93b36;
    --saturn:#cb5020;
    --uranus:#1ec2a4;
    --neptune:#2d68f0;
}

*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    color: #f7ffff;
}

.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #39394e;
    height: 5rem;
    padding: 0 4rem;
    align-items: center;
}

.nav ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    height: 100%;
}

li > a{
    font-weight:500;
    cursor: pointer;
    text-decoration: none;
}


.home{
    display: inline;
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
}


body{
    min-height: 100vh;
    background-color: var(--fondo);
    overflow: hidden;
}

.container{
    width: 80%;
    margin: auto;
}

.carrousel{
    display: flex;
}


.planet_main{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    gap: 40rem;
}

.img_container{
    width: 30rem;
}

.planet_img{
    left: 80%;
    top: 20%;
    position: relative;
    width: 20rem;
}

.png{
    position: absolute;
    width: 10rem;
    transform: translate(10rem,15rem);
}

.planet_name{
    font-family: 'Antonio', sans-serif;
    font-size: 80px;
    letter-spacing: 3px;
    font-weight:500;
}

.description{
    font-size: 15px;
    margin: 16px 0 32px;
    letter-spacing: 1px;
    width: 25rem;
    line-height: 1.7rem;
    font-family: 'League Spartan', sans-serif;
    font-weight:lighter;
}

.font{
    font-family: 'League Spartan', sans-serif;
    color:#39394e ;
    font-size: 17px;
    margin-bottom: 4.5rem;
}

.wiki{
    cursor: pointer;
    margin-left: 10px;
    color: #81818f;
}

.btn{
    margin-top:1rem;
    height: 2.7rem;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--bordes);
    font-family: 'League Spartan', sans-serif;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

.btn:hover{
    background-color: var(--bordes);
}

.btn-active{
    background-color: var(--mercury);
}

.number{
    color: grey;
}

.dates_container{
    display: flex;
    justify-content: space-between;
}

.dates{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid var(--bordes);
    width: 23.5rem;
    padding: 1rem;
}

.date_title{
    font-family: 'League Spartan', sans-serif;
    color: grey;
    font-weight: 600;
}

.date{
    font-family: 'Antonio', sans-serif;
    font-size: 40px;
}

.slider{
    -webkit-transition: all 600ms cubic-bezier(0.58, 0.01, 0.46, 0.99);
}

li{
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
}

.mercury:hover{
    border-top: 5px solid var(--mercury);
}

.venus:hover{
    border-top: 5px solid var(--venus);
}

.earth:hover{
    border-top: 5px solid var(--earth);
}

.mars:hover{
    border-top: 5px solid var(--mars);
}

.jupiter:hover{
    border-top: 5px solid var(--jupiter);
}

.saturn:hover{
    border-top: 5px solid var(--saturn);
}

.uranos:hover{
    border-top: 5px solid var(--uranus);
}

.neptune:hover{
    border-top: 5px solid var(--neptune);
}

